@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
#css{
  font-variant:initial;
  font-weight: 800;
  font-style: oblique;
}
p{
  font-size: 15px;
}